
{% extends 'base/Navbar.html' %}
{% load static %}


{% block content %}


<link href="{% static 'css/zsg-core.css' %}" type="text/css" rel="stylesheet" media="all" />
<link href="{% static 'css/zsg-opt.css' %}" type="text/css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;display=optional">
   <style>


        @font-face {
            font-family: Ivar Headline;
            font-display: optional;
            src: url(/static/font/IvarHeadline-SemiBold-extended.woff2) format("woff2"), url(/static/font/IvarHeadline-SemiBold-extended.woff) format("woff");
            font-weight: 600;
            font-style: normal;
            font-display: swap;
            unicode-range: u+0000-001f, u+0080-200f, u+2020-faff, u+fb10-ffff
        }

        @font-face {
            font-family: Ivar Headline;
            font-display: optional;
            src: url(/static/font/IvarHeadline-SemiBold-core.woff2) format("woff2"), url(/static/font/IvarHeadline-SemiBold-core.woff) format("woff");
            font-weight: 600;
            font-style: normal;
            font-display: swap;
            unicode-range: u+0020-007f, u+201?, u+fb0?
        }

    </style>

    <link rel="stylesheet" media="all" href="https://www.zillowstatic.com/static-reg-login/LIVE/reg-login/css/reg-login-c28b62e6ad.css" type="text/css">

<style>
#react-auth-lightbox
{
direction:rtl;
text-align:right;
}
.zsg-tabs>li:first-child {
    display: inline-block;
    padding-right: 0px;
    padding-left: 34px;
    top: 1px;
}
.password-input input[type=password] {
    padding-right: 5px;
}

.zsg-input-overlay_right input {
    padding-right: 5px;
}
</style><br><br>

            <div id="react-auth-lightbox">
                <div id="reg-login-app">
                    <div class="act-auth-container">
                        <div class="user-account login">
                            <div class="module-wrap">
                                <div class="module-head">
                                    <h2>إعادة تعين كلمة المرور</h2></div>
                                <div class="module-body">
                                    <div class="module-nav">

                                            <ul class="hdp-video-on-tab zsg-tabs zsg-tabs_lg active-inactive-choice-block">
 <li class="zsg-tab_active"> <input id="tab1" type="radio" name="tab" class="hide-radiobutton" checked><label for="tab1" class="tab">إعادة تعين كلمة المرور</label>

 </ul>
                                    </div>





                                    <form class="zsg-form" id="login" method="POST">
                                                {% csrf_token %}
                                        <div class="zsg-form-field">
                                            <input type="hidden" id="inputs-authToken" autocomplete="off" value="">
                                        </div>
                                        <div class="zsg-form-field">
                                               <input name="email" class="form-control" placeholder="عنوان البريد الإلكتروني" type="email" id="id_email" required="true">
                                          <p class="zsg-form-error-text">البريد الإلكتروني</p>
                                        </div>

                                        <div class="zsg-form-field">
                                            <div class="submit-div zsg-lg-1-2 zsg-sm-1-1">
                                                <input name="login" type="submit" class="zsg-button_primary zsg-button_fullsize" value="إرسال">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>


{% endblock %}

