

<section class="dp_top" style="direction:rtl">
    <div class="container">
        <div class="title_58 element_anim_1 start_anim"> وكلاء العقارات</div>
        <div class="text element_anim_2 start_anim">
            <p>مطلوب وكلاء لدى فرص للعقارات في جميع إنحاء الجمهورية اليمنية على أن يتمتع الوكلاء بخبره واسعة في تجارة العقارات.</p>
            <p>للإتصال بنا على موقع فرص لمعرفة المعايير والمواصفات والشروط لعرض العقار على الموقع</p>
        </div>
    </div>
</section>
<section class="dp_search">
    <div class="container">
        <form class="element_anim_1 start_anim" id="bh-sl-user-location" method="post" action="/home/">
            <div class="search_wrap">
                <input type="text" id="bh-sl-address" name="bh-sl-address" placeholder="البحث في الموقع" autocomplete="off">
                <input type="hidden" name="hidden" id="hidden_value_save">
                <div class="icon">
                    <div class="loup">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 45.99">
                            <title>loup</title>
                            <g data-name="Warstwa 2">
                                <g data-name="Layer 1">
                                    <path d="M19.65,39.27A19.64,19.64,0,1,1,33.54,5.75h0A19.64,19.64,0,0,1,19.65,39.27ZM19.65,2A17.64,17.64,0,1,0,32.12,7.16h0A17.59,17.59,0,0,0,19.65,2Z"></path>
                                    <path d="M45,46a1,1,0,0,1-.71-.29L32.12,33.53a1,1,0,0,1,1.41-1.41L45.71,44.28A1,1,0,0,1,45,46Z"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="cancel_cross"><span></span></div>
                </div>
            </div>
            <button type="submit" id="bh-sl-user-location-submit" name="bh-sl-user-location-submit" style="display:none"></button>
        </form>
        <div class="cont element_anim_1 start_anim">
            <div class="or">أو</div>
            <div class="button_el border"> <span>أستخدم موقعك</span></div>
        </div>
    </div>
</section>