
{% extends 'base/Navbar.html' %}
{% load static %}


  {% block content %}



<link href="{% static 'css/shademaster.css' %}" type="text/css" rel="stylesheet" media="all" />

<link href="{% static 'css/zsg-core.css' %}" type="text/css" rel="stylesheet" media="all" />
<link href="{% static 'css/zsg-opt.css' %}" type="text/css" rel="stylesheet" />

<style>

body {
	font-size: 15px;
	margin: 0;
	font-family: 'overpass', sans-serif;
	overflow-y: auto;
	color: #545759;
	text-align:right;
	direction:rtl;
	-webkit-overflow-scrolling: touch;
}

</style>
      {% include 'base/intro.html' %}

    <link rel="stylesheet" href="https://www.zillow.com/marketing/zgwp/wp-includes/css/dist/block-library/style.min.css?ver=5.2.2" type="text/css" media="all">
    <link rel="stylesheet" href="https://www.zillow.com/marketing/zgwp/app/mu-plugins/prexit/prexit.css?ver=5.2.2" type="text/css" media="all">
    <link rel="stylesheet" href="https://www.zillow.com/marketing/zgwp/app/mu-plugins/tweet-intent/css/tweet-intent.css?ver=5.2.2" type="text/css" media="all">
    <link rel="stylesheet" href="https://www.zillow.com/marketing/zgwp/app/plugins/goldberg/public/goldberg.css?ver=1568738850" type="text/css" media="all">
    <link rel="stylesheet" href="https://www.zillow.com/marketing/zgwp/app/plugins/marketo-form-widget/marketo-form-widget.css?ver=5.2.2" type="text/css" media="all">
    <link rel="stylesheet" href="https://www.zillow.com/marketing/zgwp/app/themes/zillow-marketing-base-theme/widgets/sale-proceeds/bundle/saleproceeds.css?ver=1568331057" type="text/css" media="all">
    <link rel="stylesheet" href="https://www.zillow.com/marketing/zgwp/app/themes/zillow-marketing-base-theme/dist/styles/landing-2017-ed9b4617a0.css" type="text/css" media="all">

    <style type="text/css">
        #section-2,
        #section-3,
        #section-4,
        #section-5,
        #section-6 {
            margin-top: -50px;
        }

        .lgText {
            font-size: 120%;
            line-height: 30px;
        }

        .title-left {
            text-align: left;
        }

        a.btn-primary:visited {
            color: #fff !important;
        }

        hr {
            border-color: #d3d3d3;
        }

        body.page-template-page-sections main#content-main div#section-5 div.section-cta a.btn-primary:visited {
            color: #fff !important;
        }

        body.page-template-page-sections .section-text.has-icon .section-text-icon {
    background-color: #1b5098;
    border-radius: 50%;
    right: 0;
    left: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    height: 45px;
    width: 45px;
}
h4
{
padding-right:60px;
}
.lgText
{
padding-right:45px;
}
.title-left {
    text-align: right;
}
body.page-template-page-sections .section-text.has-icon .section-text-icon {
    background-color: #7ca5ba;
    border-radius: 50%;
    right: 0;
    left: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    height: 45px;
    width: 45px;
}
.btn.btn-primary, .comment-form input[type=submit] {
    background-color: #7ca5ba;
    border-color: #799fb3;
    color: #fff;
}
</style>
  </head>


<main role="main">
            <div class="blog_page">
                <div class="page_banner">
                    <div class="container">
                        <div class="page_banner_title"></div>
                        <div class="page_banner_content">شراء منزل يملكه فرص وشراء مع راحة البال.</div>
                    </div>
                </div>
            </div>
        </main>

    <div class="wrap container" role="document" style="position: relative;">
        <div class="content content-main">
            <main id="content-main" class="main" role="main">

                <div id="subnav-in-main"></div>
                <div id="sections">
                    <div id="section-1" class="section" style="">
                        <div class="container">
                            <p class="section-excerpt">شراء منزل يجب أن يشعر وكأنه فصل جديد ، وليس قائمة مهام. هذا هو السبب في أن جميع المنازل المملوكة لشركة Zillow يتم تقييمها وإصلاحها وتحديثها بعناية - قبل اعتبارها جاهزة لمالك جديد.</p>
                            <div class="row">
                            </div>
                        </div>
                    </div>
                    <div id="section-2" class="section" style="">
                        <div class="container">
                            <h2 class="section-title"><div class="title-left" style="padding-bottom:15px;">نقل المنازل الجاهزة من البائع الذي تثق به</div></h2>
                            <div class="row">
                                <div id="section-2-content-1" class="col-sm-12">
                                    <div class="section-text has-icon has-headline">
                                        <span class="section-text-icon"><i class="zsg-fa-home"></i></span>
                                        <h4 class="section-text-headline">أشعر على الفور في المنزل</h4>
                                        <div class="lgText">استمتع بمكانك الجديد في اليوم الأول. يتميز كل منزل تملكه فرص بتحديثات جديدة طوال الوقت.</div>
                                    </div>
                                </div>
                                <div id="section-2-content-2" class="col-sm-12">
                                    <div class="section-text has-icon has-headline">
                                        <span class="section-text-icon"><i class="zsg-clock-digs"></i></span>
                                        <h4 class="section-text-headline">جولة في الجدول الزمني الخاص بك</h4>
                                        <div class="lgText">لا تخطط لعطلة نهاية الأسبوع حول منزل مفتوح. عرض الجدولة عندما يعمل من أجلك</div>
                                    </div>
                                </div>
                                <div id="section-2-content-3" class="col-sm-12">
                                    <div class="section-text has-icon has-headline">
                                        <span class="section-text-icon"><i class="zsg-file-check"></i></span>
                                        <h4 class="section-text-headline">الحصول على موافقة مسبقة</h4>
                                        <div class="lgText">اتخذ خطوة كبيرة نحو شراء منزلك الجديد بموافقة مسبقة من  <a href="https://www.zillowhomeloans.com/get-started/loanType//?showAbad=true" target="_blank" rel="noopener">Zillow Home Loans</a>.</div>
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                                <div id="section-2-content-4" class="col-sm-12">
                                    <div class="section-text">
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="section-4" class="section" style="">
                        <div class="container">
                            <h2 class="section-title"><div class="title-left">هل تحتاج إلى البيع قبل الشراء؟</div></h2>
                            <div class="row">
                                <div id="section-4-content-1" class="col-sm-12">
                                    <div class="section-text">
                                        <div class="lgText">تخطي متاعب الإدراج. بيع مباشرة على فرص.</div>
                                        <p>&nbsp;</p>
                                        <ul class="section-text-buttons">
                                            <li>
                                                <a href="" class="btn btn-primary" target="_blank">تعرف على عروض فرص</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="section-5" class="section" style="">
                        <div class="container">
                            <h2 class="section-title"><div class="title-left" style="padding-bottom:15px;">Frequently asked questions</div></h2>
                            <div class="row">
                                <div id="section-5-content-1" class="col-sm-8">
                                    <div id="section-faqs-5d85690de18a9" class="section-faqs panel-group" role="tablist" aria-multiselectable="true">
                                        <div class="panel">
                                            <div id="section-faqs-5d85690de18a9-q-1" class="panel-heading" role="tab">
                                                <h4 class="panel-title">
            <a href="#section-faqs-5d85690de18a9-a-1" class="collapsed" data-toggle="collapse" data-parent="#section-faqs-5d85690de18a9" role="button" aria-expanded="true" aria-controls="section-faqs-5d85690de18a9">
              How are Zillow-owned homes different from others?            </a>
          </h4>
                                            </div>
                                            <div id="section-faqs-5d85690de18a9-a-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="section-faqs-5d85690de18a9-q-1">
                                                <div class="panel-body">
                                                    <p>Zillow-owned homes are move-in ready homes from a seller you trust. You’ll enjoy your new place on day one, since every Zillow-owned home features fresh updates throughout. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div id="section-faqs-5d85690de18a9-q-2" class="panel-heading" role="tab">
                                                <h4 class="panel-title">
            <a href="#section-faqs-5d85690de18a9-a-2" class="collapsed" data-toggle="collapse" data-parent="#section-faqs-5d85690de18a9" role="button" aria-expanded="true" aria-controls="section-faqs-5d85690de18a9">
              Is Zillow willing to make repairs?            </a>
          </h4>
                                            </div>
                                            <div id="section-faqs-5d85690de18a9-a-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="section-faqs-5d85690de18a9-q-2">
                                                <div class="panel-body">
                                                    <p>Zillow-owned homes are move-in ready and have been professionally renovated or repaired as needed. </p>
                                                    <p>Additionally, every buyer is encouraged to hire a licensed home inspector to assess the home and identify any issues before moving forward with the offer.</p>
                                                    <p>Following a home inspection by the buyer’s licensed inspector, Zillow may make repairs, give credits in lieu of repairs or decline repairs. As with any home sale transaction, this is reviewed case by case.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div id="section-faqs-5d85690de18a9-q-3" class="panel-heading" role="tab">
                                                <h4 class="panel-title">
            <a href="#section-faqs-5d85690de18a9-a-3" class="collapsed" data-toggle="collapse" data-parent="#section-faqs-5d85690de18a9" role="button" aria-expanded="true" aria-controls="section-faqs-5d85690de18a9">
              What if there’s something wrong with the systems or structure of the home?            </a>
          </h4>
                                            </div>
                                            <div id="section-faqs-5d85690de18a9-a-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="section-faqs-5d85690de18a9-q-3">
                                                <div class="panel-body">
                                                    <p>All repairs covered by Zillow are assessed on a case-by-case basis. Prior to purchasing the home, Zillow performs an evaluation looking specifically for structural and system issues. Should an issue arise, contact the property’s listing agent.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div id="section-faqs-5d85690de18a9-q-4" class="panel-heading" role="tab">
                                                <h4 class="panel-title">
            <a href="#section-faqs-5d85690de18a9-a-4" class="collapsed" data-toggle="collapse" data-parent="#section-faqs-5d85690de18a9" role="button" aria-expanded="true" aria-controls="section-faqs-5d85690de18a9">
              How are agents involved when Zillow sells a home it owns?            </a>
          </h4>
                                            </div>
                                            <div id="section-faqs-5d85690de18a9-a-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="section-faqs-5d85690de18a9-q-4">
                                                <div class="panel-body">
                                                    <p>We use licensed agents and brokers to sell the home and pay commission to both the seller’s agent and the buyer’s agent, much like an individual seller.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div id="section-faqs-5d85690de18a9-q-5" class="panel-heading" role="tab">
                                                <h4 class="panel-title">
            <a href="#section-faqs-5d85690de18a9-a-5" class="collapsed" data-toggle="collapse" data-parent="#section-faqs-5d85690de18a9" role="button" aria-expanded="true" aria-controls="section-faqs-5d85690de18a9">
              Can I use my own buyer’s agent?            </a>
          </h4>
                                            </div>
                                            <div id="section-faqs-5d85690de18a9-a-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="section-faqs-5d85690de18a9-q-5">
                                                <div class="panel-body">
                                                    <p>Yes, you are welcome to use an agent of your choice. Zillow believes that all transactions should have agent representation.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div id="section-faqs-5d85690de18a9-q-6" class="panel-heading" role="tab">
                                                <h4 class="panel-title">
            <a href="#section-faqs-5d85690de18a9-a-6" class="collapsed" data-toggle="collapse" data-parent="#section-faqs-5d85690de18a9" role="button" aria-expanded="true" aria-controls="section-faqs-5d85690de18a9">
              Why is the Zestimate different from the sale price of a Zillow-owned home?            </a>
          </h4>
                                            </div>
                                            <div id="section-faqs-5d85690de18a9-a-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="section-faqs-5d85690de18a9-q-6">
                                                <div class="panel-body">
                                                    <p>The Zestimate is a computer-generated estimate of a home’s value based on millions of data points, including public records information, basic home facts and market trends. The Zestimate is not an appraisal, and you can’t use it in place of an appraisal, though you can certainly share it with real estate professionals. It’s a starting point, but it can’t “see” inside a home. To determine the sale price for a Zillow-owned home, we consider the Zestimate, an in-person assessment, a local real estate agent’s opinion and any increased value from renovations or improvements to the home. Because the sale price accounts for these additional factors, it may be different than the Zestimate.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div id="section-faqs-5d85690de18a9-q-7" class="panel-heading" role="tab">
                                                <h4 class="panel-title">
            <a href="#section-faqs-5d85690de18a9-a-7" class="collapsed" data-toggle="collapse" data-parent="#section-faqs-5d85690de18a9" role="button" aria-expanded="true" aria-controls="section-faqs-5d85690de18a9">
              How do I know you’re not making the Zestimate lower so you can buy homes for less or higher so you can sell them for more?            </a>
          </h4>
                                            </div>
                                            <div id="section-faqs-5d85690de18a9-a-7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="section-faqs-5d85690de18a9-q-7">
                                                <div class="panel-body">
                                                    <p>The Zestimate is a trusted tool for consumers, and we take its credibility very seriously. Factors that can influence the Zestimate include homeowner updates to their home facts, the sale prices of recently sold nearby homes, changes in tax-assessed values, and other updates or additions to independent public data related to the home. The fact that Zillow owns and is selling a home will not change the Zestimate.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div id="section-faqs-5d85690de18a9-q-8" class="panel-heading" role="tab">
                                                <h4 class="panel-title">
            <a href="#section-faqs-5d85690de18a9-a-8" class="collapsed" data-toggle="collapse" data-parent="#section-faqs-5d85690de18a9" role="button" aria-expanded="true" aria-controls="section-faqs-5d85690de18a9">
              How can I tour a Zillow-owned home?            </a>
          </h4>
                                            </div>
                                            <div id="section-faqs-5d85690de18a9-a-8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="section-faqs-5d85690de18a9-q-8">
                                                <div class="panel-body">
                                                    <p>You can tour some Zillow-owned homes by unlocking the door with the Zillow app. If this feature is not yet available in your market, you can schedule tours by contacting our Buyer Success Team:</p>
                                                    <p><strong>Email:</strong> buyersuccess@zillowgroup.com
                                                        <br>
                                                        <strong>Call or text:</strong> 206-203-7030
                                                        <br>
                                                        <strong>Hours:</strong> 8 a.m. to 7 p.m. daily</p>
                                                    <p>If you’re already working with an agent, you can tour with them on their schedule — no need to check in ahead of time.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div id="section-faqs-5d85690de18a9-q-9" class="panel-heading" role="tab">
                                                <h4 class="panel-title">
            <a href="#section-faqs-5d85690de18a9-a-9" class="collapsed" data-toggle="collapse" data-parent="#section-faqs-5d85690de18a9" role="button" aria-expanded="true" aria-controls="section-faqs-5d85690de18a9">
              A Zillow-owned home is listed as "coming soon." Can I take a tour of the property before it goes for sale?            </a>
          </h4>
                                            </div>
                                            <div id="section-faqs-5d85690de18a9-a-9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="section-faqs-5d85690de18a9-q-9">
                                                <div class="panel-body">
                                                    <p>Zillow-owned properties listed as "coming soon" are undergoing renovations, so we can’t provide tours. But if you contact the Buyer Success Team, they’ll make sure you get in the home as early as possible.</p>
                                                    <p><strong>Email:</strong> buyersuccess@zillowgroup.com
                                                        <br>
                                                        <strong>Call or text:</strong> 206-203-7030
                                                        <br>
                                                        <strong>Hours:</strong> 8 a.m. to 7 p.m. daily</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div id="section-faqs-5d85690de18a9-q-10" class="panel-heading" role="tab">
                                                <h4 class="panel-title">
            <a href="#section-faqs-5d85690de18a9-a-10" class="collapsed" data-toggle="collapse" data-parent="#section-faqs-5d85690de18a9" role="button" aria-expanded="true" aria-controls="section-faqs-5d85690de18a9">
              I have questions about a Zillow-owned home. Who can help me with that?            </a>
          </h4>
                                            </div>
                                            <div id="section-faqs-5d85690de18a9-a-10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="section-faqs-5d85690de18a9-q-10">
                                                <div class="panel-body">
                                                    <p>Contact our Buyer Success Team directly from the listing or by phone or email:</p>
                                                    <p><strong>Email:</strong> buyersuccess@zillowgroup.com
                                                        <br>
                                                        <strong>Call or text:</strong> 206-203-7030
                                                        <br>
                                                        <strong>Hours:</strong> 8 a.m. to 7 p.m. daily</p>
                                                    <p>If you’re working with a buyer’s agent, just ask them.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div id="section-faqs-5d85690de18a9-q-11" class="panel-heading" role="tab">
                                                <h4 class="panel-title">
            <a href="#section-faqs-5d85690de18a9-a-11" class="collapsed" data-toggle="collapse" data-parent="#section-faqs-5d85690de18a9" role="button" aria-expanded="true" aria-controls="section-faqs-5d85690de18a9">
              I want to make an offer on a Zillow-owned home. How do I do that?            </a>
          </h4>
                                            </div>
                                            <div id="section-faqs-5d85690de18a9-a-11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="section-faqs-5d85690de18a9-q-11">
                                                <div class="panel-body">
                                                    <p>You can make an offer through your buyer’s agent or by contacting our Buyer Success Team, who can connect you with a buyer’s agent in your area.</p>
                                                    <p><strong>Email:</strong> buyersuccess@zillowgroup.com
                                                        <br>
                                                        <strong>Call or text:</strong> 206-203-7030
                                                        <br>
                                                        <strong>Hours:</strong> 8 a.m. to 7 p.m. daily</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div id="section-faqs-5d85690de18a9-q-12" class="panel-heading" role="tab">
                                                <h4 class="panel-title">
            <a href="#section-faqs-5d85690de18a9-a-12" class="collapsed" data-toggle="collapse" data-parent="#section-faqs-5d85690de18a9" role="button" aria-expanded="true" aria-controls="section-faqs-5d85690de18a9">
              Does Zillow consider rent-to-own arrangements on homes they own?            </a>
          </h4>
                                            </div>
                                            <div id="section-faqs-5d85690de18a9-a-12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="section-faqs-5d85690de18a9-q-12">
                                                <div class="panel-body">
                                                    <p>No, that is not something we offer right now.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div id="section-faqs-5d85690de18a9-q-13" class="panel-heading" role="tab">
                                                <h4 class="panel-title">
            <a href="#section-faqs-5d85690de18a9-a-13" class="collapsed" data-toggle="collapse" data-parent="#section-faqs-5d85690de18a9" role="button" aria-expanded="true" aria-controls="section-faqs-5d85690de18a9">
              I’ve made an offer on a Zillow-owned home. What can I expect now?            </a>
          </h4>
                                            </div>
                                            <div id="section-faqs-5d85690de18a9-a-13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="section-faqs-5d85690de18a9-q-13">
                                                <div class="panel-body">
                                                    <p>You’ll generally hear back from us within 48 hours if you submitted the offer during the week or 72 hours if you submitted the offer on Friday or Saturday.</p>
                                                    <p>Your buyer’s agent will share other information with you on our behalf.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div id="section-faqs-5d85690de18a9-q-14" class="panel-heading" role="tab">
                                                <h4 class="panel-title">
            <a href="#section-faqs-5d85690de18a9-a-14" class="collapsed" data-toggle="collapse" data-parent="#section-faqs-5d85690de18a9" role="button" aria-expanded="true" aria-controls="section-faqs-5d85690de18a9">
              Does Zillow accept backup offers?            </a>
          </h4>
                                            </div>
                                            <div id="section-faqs-5d85690de18a9-a-14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="section-faqs-5d85690de18a9-q-14">
                                                <div class="panel-body">
                                                    <p>No, we currently do not accept backup offers.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div id="section-faqs-5d85690de18a9-q-15" class="panel-heading" role="tab">
                                                <h4 class="panel-title">
            <a href="#section-faqs-5d85690de18a9-a-15" class="collapsed" data-toggle="collapse" data-parent="#section-faqs-5d85690de18a9" role="button" aria-expanded="true" aria-controls="section-faqs-5d85690de18a9">
              How can I see the status of my offer?            </a>
          </h4>
                                            </div>
                                            <div id="section-faqs-5d85690de18a9-a-15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="section-faqs-5d85690de18a9-q-15">
                                                <div class="panel-body">
                                                    <p>Once you’ve made an offer, either you or your buyer’s agent can reach out to our listing agent for updates. You can expect a response to your offer within approximately 48 hours if submitted during the week or 72 hours if submitted on Friday or Saturday.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div id="section-faqs-5d85690de18a9-q-16" class="panel-heading" role="tab">
                                                <h4 class="panel-title">
            <a href="#section-faqs-5d85690de18a9-a-16" class="collapsed" data-toggle="collapse" data-parent="#section-faqs-5d85690de18a9" role="button" aria-expanded="true" aria-controls="section-faqs-5d85690de18a9">
              Why is Zillow buying homes?            </a>
          </h4>
                                            </div>
                                            <div id="section-faqs-5d85690de18a9-a-16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="section-faqs-5d85690de18a9-q-16">
                                                <div class="panel-body">
                                                    <p>Zillow’s goal has always been to empower buyers and sellers by providing information and resources around the real estate process. Zillow Offers supports this goal by helping sellers make confident, informed decisions about their home sale, and if they sell to Zillow, we can provide a professional, convenient and personalized experience without the hassle of multiple showings and unpredictable timing. For homes that don’t qualify for offers, we will continue to connect sellers with a local agent who can help them list their home on the open market.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="section-6" class="section" style="">
                        <div class="container">
                            <h2 class="section-title"><div class="title-left">Still have questions about Zillow-owned homes?</div></h2>
                            <div class="row">
                                <div id="section-6-content-1" class="col-sm-12">
                                    <div class="section-text">
                                        <div class="lgText">Our Buyer Success Specialists are here for you — just email, call or text anytime.</div>
                                        <p>&nbsp;</p>
                                        <div class="lgText" style="text-align: left;"><strong>Email:</strong> <a href="mailto:buyersuccess@zillowgroup.com">buyersuccess@zillowgroup.com</a></div>
                                        <div class="lgText" style="text-align: left;"><strong>Call or text:</strong> 206-203-7030</div>
                                        <div class="lgText" style="text-align: left;"><strong>Hours</strong>: 8 a.m. to 7 p.m. daily</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- /.main -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.wrap -->

      {% include 'base/footer.html' %}


  <script src="{% static 'js/jquery-3.3.1.min.js' %} "></script>
<script>
$("body").removeAttr('class');
$("body").attr('class', 'page-template page-template-page-sections page-template-page-sections-php page page-id-8812 header-short zillow-owned-homes page-frame-service  inline-auth page-template page-template-goldberg page-template-goldberg-php ');
</script>

                {% endblock %}





