
{% extends 'base/Navbar.html' %}
{% load static %}


  {% block content %}




<link href="{% static 'css/shademaster.css' %}" type="text/css" rel="stylesheet" media="all" />

<link href="{% static 'css/zsg-core.css' %}" type="text/css" rel="stylesheet" media="all" />
<link href="{% static 'css/zsg-opt.css' %}" type="text/css" rel="stylesheet" />

<style>

body {
	font-size: 15px;
	margin: 0;
	font-family: 'overpass', sans-serif;
	overflow-y: auto;
	color: #545759
	-webkit-overflow-scrolling: touch
}

</style>
      {% include 'base/intro.html' %}

<div style="direction:rtl;text-align:right;">
        <div class="zsg-layout-bc zsg-layout-width zsg-layout-bottom" id="yui_3_18_1_1_1567026811447_60">
            <main class="zsg-layout-bc-b" id="yui_3_18_1_1_1567026811447_65">
                <div class="zsg-layout-content zsg-layout-top" id="yui_3_18_1_1_1567026811447_64">
                    <div class="zsg-content-component">
                        <div class="zsg-media">
                            <a class="zsg-media-img"> <img src="https://www.zillow.com/static/images/MidIllos_70x70_GoodNeighbor.gif" alt="Good Neighbor" height="70" width="70"> </a>
                            <div class="zsg-media-bd">
                                <div class="zsg-g">
                                    <div class="zsg-lg-3-4 zsg-sm-1-1">
                                        <h1>سرد شروط استخدام حسن الجوار</h1>
                                    </div>
                                          </div>
                            </div>
                        </div>
                    </div>
                    <p id="yui_3_18_1_1_1567026811447_63">يا الجار! نحن ملتزمون بمساعدة الجميع في العثور على طريقهم إلى المنزل ، ونحن ملتزمون بضمان معاملة الجميع بإنصاف واحترام. نحن نقدر خلفيات مستخدمينا المتنوعة وإسهاماتهم في مجتمعاتهم ، ونتوقع من جميع المستخدمين الامتثال لقوانين الإسكان العادل المحلية والحكومية والاتحادية. نحث مستخدمينا على النظر إلى ما وراء قوانين الإسكان العادل ومعاملة الآخرين دون تحيز ، بغض النظر عن ميولهم الجنسية أو هويتهم الجنسانية و / أو تعبيرهم ، أو وضعهم المخضرم ، أو حالة الإعاقة ، أو الحالة الزواجية ، أو العمر.</p>
                    <p>باستخدام خدماتنا ، نطلب منك اتباع سياسة حسن الجوار لدينا:</p>
                    <div class="neighbor-policy-content zsg-g">
                        <div class="zsg-lg-1-2-ext zsg-md-1-1">
                            <div class="zsg-media zsg-content-item">
                                <a class="zsg-media-img"><img src="https://www.zillow.com/static/images/thumbs_up.gif" alt="thumbs up" height="40" width="40"></a>
                                <div class="zsg-media-bd">
                                    <h3>افعل من فضلك</h3>
                                </div>
                            </div>
                            <ul class="zsg-list_square">
                                <li>حترم الآخرين وامتثل لجميع قوانين الإسكان العادل المطبقة على المستوى الفيدرالي وقوانين الولايات والمحليات</li>
                                <li>كن صادقا</li>
                                <li>نشر المعلومات المناسبة وفي سياق العقارات</li>
                                <li>استخدم الحكم الجيد</li>
                                <li>فكر في <a href="http://en.wikipedia.org/wiki/Ethic_of_reciprocity" target="_blank">القاعدة الذهبية</a></li>
                                <li>احترم خصوصية جيرانك</li>
                            </ul>
                        </div>
                        <div class="zsg-lg-1-2-ext zsg-md-1-1">
                            <div class="zsg-media zsg-content-item">
                                <a class="zsg-media-img"><img src="https://www.zillow.com/static/images/thumbs_down.gif" alt="thumbs up" height="40" width="40"></a>
                                <div class="zsg-media-bd">
                                    <h3>أرجوك لا تفعل</h3>
                                </div>
                            </div>
                            <ul class="zsg-list_square">
                                <li>التمييز في الإعلان عن السكن ، حيث أن هذا غير <a href="https://www.hud.gov/program_offices/fair_housing_equal_opp/fair_housing_act_overview">قانوني</a></li>
                                <ul>
                                    <li>من غير القانوني بموجب قانون الإسكان العادل معاملة المشتري المحتمل أو المستأجر بطريقة مختلفة على أساس العرق أو اللون أو الأصل القومي أو الدين أو الجنس أو الإعاقة أو الوضع العائلي.</li>
                                    <li>اعتمدت العديد من المدن والمحليات قوانين الإسكان العادل الخاصة بها لتوسيع نطاق هذه الحماية الفيدرالية ، مثل حظر التمييز على أساس الميل الجنسي للفرد أو الهوية الجنسية أو مصدر الدخل.</li>
                                </ul>
                                <li>نشر أي محتوى تمييزي أو مسيء أو فاحش أو تهديدي أو تشهيري آخر</li>
                                <li>الانخراط في اتصالات غير قانونية أخرى ، أو الكشف عن معلومات سرية أو حساسة</li>
                                <li>قم بتحميل الصور أو المحتوى الذي ينتهك حقوق الطبع والنشر</li>
                                <li>الانخراط في محتوى غير مرغوب فيه أو إعلانات أو محتوى ترويجي ذاتي. يتضمن ذلك ، على سبيل المثال لا الحصر ، أي معلومات اتصال مثل أرقام الهواتف أو عناوين البريد الإلكتروني أو عناوين URL الخاصة بالمواقع الإلكترونية</li>
                                <li>استخدم أكثر من حساب واحد لنشر المحتوى على المجالس العامة لنفس ماركة 4US Group</li>
                            </ul>
                        </div>
                    </div>
                    <h3>الخط السفلي</h3>
                    <p>إذا شعرنا أن أي محتوى غير مناسب أو خارج الموضوع ، فإننا نحتفظ بالحق في إزالته ، وإذا لزم الأمر ، فإننا نحد من الوصول.</p>
                    <p>في الأساس ، واحترام الآخرين على الموقع. كن جارًا جيدًا. وإذا رأيت أي شيء غير مناسب ، فيرجى الإبلاغ عنه.</p>
                    <p>هذا هو! نحن نستمتع بوجودك هنا ونريد أن نشكرك على المساعدة في جعل 4US أكثر فائدة للجميع.</p>
                    <p>فريق فرص</p>
                    <br>
                    <p class="zsg-fineprint">مزيد من المعلومات ، يرجى قراءة <a href="{% url 'Privacy' %}">سياسة الخصوصية </a> و <a href="{% url 'Terms' %}"> شروط الاستخدام</a> (الإيماء بالإغلاق أثناء قراءة هذه الصفحات غير مسموح به.).</p>
                </div>
            </main>
        </div>


      {% include 'base/footer.html' %}

</div>
                {% endblock %}